  h1{
    color : blue;
    font-weight: bold;
    text-shadow: 3px 2px green;
    letter-spacing: 4px;
    text-align: center;
  }


  h5{
    color : black;
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }

  .h7{
    text-align: right;
    text-decoration: underline;
  }
  body{
    background-color: rgb(204, 229, 255);
  }


  /* {
    box-sizing: border-box;
  } */

/* Create three equal columns that floats next to each other */
  /* .column {
   float: left;
   width: 40.33%;
   padding: 60px;
  } */


Clear floats after the columns
 /* .row:after {
 content: "";
 display: table;
 clear: both; */ */

   body {
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
 }

 .topnav {
   background-color: #333;
   overflow: hidden;
 }

 .topnav a {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }

 .topnav a:hover {
   background-color: #ddd;
   color: black;
 }

 .topnav a.active {
   background-color: #4CAF50;
   color: black;
 }



 box-sizing: {
   border-box;
 }


 .container {
  position: relative;
  width: 70%;
  max-width: 300px;
 }

 .image {
  display: block;
  width: 150%;
  height: auto;
 }

 .overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 140%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
 }

 .container:hover .overlay {
  opacity: 1;
